/* リセットCSS
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000; 
  font-style:italic;
   font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;   
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}
/* リセットCSSここまで */

/* メニュー */
.menu-box{
  display: none;
  background-color: lightgrey;
  width: 100vw;
  height: 220px;
  position: fixed;
  top: 0;
  z-index: 10;
}

.menu-images{
  width: 96vw;
  height: 163px;
  display: flex;
  justify-content: space-around;
  margin: 24px auto;
  position: relative;
  
}

.style-menu{
  width: 120px;
  height: 150px;
}

.menu-details{
  width: 90vw;
  height: 30px;
  position: absolute;
  top: 152px;
  left: 20px;
}

.menu-number-box{
  width: 90vw;
  height: 12px;
  display: flex;
  justify-content: space-between;
}

.number-box{
  width: 120px;
  height: 12px;
  margin-top: 8px;
}

.menu-number{
  font-size: 10px;
  font-family: lato;
  letter-spacing: 0.1em;
}

.menu-color-box{
  width: 90vw;
  height: 12px;
  display: flex;
  justify-content: space-between;
}

.color-box{
  width: 120px;
  height: 12px;
  margin-top: 8px;
}

.menu-color{
  font-size: 12px;
  font-family: lato;
  letter-spacing: 0.1em;
}

.menu-button{
  position: absolute;
  position: fixed; 
  z-index: 5;
  top: 0;
  margin-left: 94%;
  background-color: lightgray;
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu{
  color: gray;
  font-size: 12px;
  font-family: lato;
  letter-spacing: 0.1em;
  text-decoration: none;
}

.close{
  text-decoration: none;
  color: black;
  margin-top: 15px;
  margin-left: 10px;
}

/* メニューここまで */

/* メインビジュアル */
.top{
  width: 100vw;
  height: 100%;
  /* background-attachment: fixed; */
}

.main-visual{
  width: 100%;
  height: 100%;
}

.campany-name-top{
  position: absolute;
  top: 128px;
  left: 100px;
  width: 20%;
  font-size: 15px;
  font-weight: bold;
}

.title{
  position: absolute;
  top: 170px;
  left: 100px;
  width: 30%;
  height: 33px;
  font-size: 30px;
  letter-spacing: 0.2em;
  font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;;
}

/* メインビジュアルここまで */

/* コピー */

.scroll-contents{
  height: 100%; 
}

.copy{
  width: 580px;
  height: 168px;
  margin: 120px auto 0 auto;
  text-align: center;
}

.catch-copy{
  font-size: 15px;
  font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
  letter-spacing: 0.2em;
  line-height: 1.86;
}

.reed-copy{
  font-size: 13px;
  font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
  letter-spacing: 0.1em;
  line-height: 2.15;
  margin-top: 56px;
}
/* コピーここまで */

/* プロダクト */
.products{
  width: 964px;
  height: 466px;
  margin: 120px auto 0 auto;
}

.product-Heading{
  width: 148px;
  height: 22px;
  font-size: 18px;
  font-family: lato;
  letter-spacing: 0.56em;
  font-weight: bolder;
  text-align: center;
  margin: auto;
}

.product-img{
  display: flex;
  justify-content: space-between;
  margin-top: 59px;
}

.product{
  width: 300;
  height: 320px;
}

.product-name{
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.name{
  width: 300px;
  height: 12px;
  font-size: 11px;
}

.product-price{
  display: flex;
  justify-content: space-between;
}

.price-details{
  width: 300px;
  height: 15px;
  margin-top: 12px;
  display: flex;
}

.price{
  width: 87px;
  height: 15px;
  font-size: 11px;
}

.detail{
  width: 26px;
  height: 15px;
  font-size: 11px;
  text-decoration: underline;
  margin-left: 16px;
}
/* プロダクトここまで */

/* スタイル */
.styles{
  width: 100vw;
  margin-top: 120px;
}

.style-Heading{
  width: 94px;
  height: 22px;
  font-size: 18px;
  font-family: lato;
  font-weight: bolder;
  letter-spacing: 0.56em;
  text-align: center;
  margin: auto;
}

.style-box{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.color-tip{
  width: 6px;
  height: 168px;
  margin: 313px 24px 313px 26px;
}

.style{
  width: 552px;
  height: 736px;
}

.style-details{
  width: 300px;
  height: 187px;
  margin-left: 92px;
}

.number{
  width: 75px;
  height: 13px;
  font-size: 11px;
  font-family: lato;
  font-weight: bold;
  letter-spacing: 0.17em;
}

.color{
  width: 250px;
  height: 27px;
  font-size: 22px;
  font-family: lato;
  letter-spacing: 0.4em;
  font-weight: bold;
  margin-top: 26px;
  margin-bottom: 83px;
}

.button-box{
  text-align: center;
}

.back-button{
  width: 30px;
}

.campany-name{
  width: 20%;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin: 40px auto 0 auto;
}
/* スタイルここまで */

/* フッター */
.footer{
  height: 60px;
  margin-top: 182px;
  display: flex;
  align-items: center;
}

.copyright{
  width: 180px;
  height: 13px;
  font-size: 11px;
  color: gray;
  font-family: lato;
  letter-spacing: 0.2em;
  text-align: center;
  margin-left: 30px;
}

.sns-mark{
  width: 58px;
  height: 13px;
  margin-left: 46px;
}

.contact{
  width: 444px;
  height: 11px;
  font-size: 10px;
  font-family: barlow;
  text-align: center;
  margin-left: auto;
}
/* フッターここまで */

